body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #92b0d7;
}

header {
   
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

main {
    
    margin: 0 auto;
    padding: 2em 8rem;
}

h1 {
    margin-top: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#000;
}

.title-underline {
    height: 0.2rem;
    width: 7rem;
    background:#ffbb00 ;
    margin: -1rem auto 0px;
}

.project-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    /* To wrap cards to the next row */
   gap: 25px;
    /* To evenly space cards horizontally */
}

.project-list li {
    margin-top:2em;
}

.card-content img {
    object-fit: fill;
    max-width:18rem;
    min-width: 18rem;
    min-height: 12rem;
    max-height: 12rem;
    transition: transform 0.2s ease-in-out;
}

.project-link{
    text-decoration: none;
}

.card-content:hover {
transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.project-title{
    background-color: #fff;
    padding:14px;
    margin: -8px;
    border-radius: 4px;
    font-family: "Inconsolata",monospace;
   
}   



